
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --Nutmeg: 	#854632;
    --DarkRaspberry: #7b284f;

    --White: #ffffff;
    --RoseWhite: #fff5fa;
    --Eggshell:	#f3e6d8;
    --LightGrey: #e4ded8;
    --WengeBrown: #5f574e;
    --DarkCharcoal: #302d2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;   
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
    color: #302d2c !important;        
}

body {
    background-color: #ffffff;
    
}

.grid-container {
    display: grid;
    /* grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); */

    /* Simplifying the code */
    grid-template: repeat(4, 1fr);
    grid-template-areas:
        "omelette"
        "gi1-alias"
        "gi2-alias"
        "gi3-alias";
    margin:0 auto;
}

.omelette {
    grid-area: omelette;
}

.gi-1 {
    grid-area: gi1-alias;
}

.gi-2 {
    grid-area: gi2-alias;
}

.gi-3 {
    grid-area: gi3-alias;
}

.gi-1 > h1 {
    margin-bottom: 10px;
}

.gi-1, .gi-2, .gi-3 {
    margin: 0px 40px;
}

.first-recipe {
    display: grid;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #fff5fa;
    border-radius: 10px;
}

.first-recipe > h3 {
    margin-top: 20px;
    display: grid;
    margin-left: 25px;
    color: #7b284f;
}

.first-recipe > ul {
    display: grid;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25px;
}

.first-recipe > ul > li {
    line-height: 25px;
}

h1 {
    font-family: "Young Serif", serif;
    font-size: 2rem; 
    font-weight: 400;
    margin-top: 20px;
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

.first-recipe > ul > li::marker {
    color: #7b284f;
  }

.first-recipe > ul > li > span {
    color: #302d2c !important;
    font-weight: bold;
    margin-left: 15px;
}

.ingredients > ul > li {
    margin-left: 25px;
    line-height: 25px;
    list-style: disc !important;
}

.ingredients > ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

.ingredients > ul > li > span {
    color: #302d2c !important;
    margin-left: 15px;
}

.ingredients > ul > li::marker {
    color: #7b284f;
  }

.ingredients > h2 {
    color: #854632;
}

.gi-2 {
    border-top: 1px solid #e4ded8;
  }

.gi-2 > h2 {
    color: var(--Nutmeg);
    margin-top: 25px;
    margin-bottom: 20px;
}

.gi-2 > ol > li::marker {
    color: #7b284f;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
  }

.gi-2 > ol > li > span {
    color: var(--DarkCharcoal);
    font-weight: bold;
    margin-left: 15px;
}

.gi-2 > ol {
    margin-left: 25px;
    line-height: 25px;
    margin-bottom: 25px;
}

.gi-3 {
    border-top: 1px solid #e4ded8;
  }

.gi-3 > h2 {
    color: var(--Nutmeg);
    margin-top: 25px;
    margin-bottom: 20px;
}

.gi-3 > p {
    margin-bottom: 20px;
}

.nutri {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    align-items: center;
}

.quatities {
    color: #854632;
    font-weight: bold;
}

.n-1 {
    border-bottom: 1px solid #e4ded8;
}

.n-2 {
    border-bottom: 1px solid #e4ded8;
}

.n-3 {
    border-bottom: 1px solid #e4ded8;
}

.nutri > p {
    margin-bottom: 10px;
}

.owner {
    margin-top: 25px;
    margin-bottom: 35px;
}

.owner > a {
    text-decoration: none;
    color: var(--DarkRaspberry);
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    body {
        padding: 20px 50px;
        background-color: var(--Eggshell);
    }

    .gi-1, .gi-2, .gi-3 {
        margin: 0px 0px;
    }

    .grid-container {
        background-color: var(--White);
        border-radius: 10px;
        padding: 30px;
        max-width: 550px;
        margin: 50 auto;
    }

    .gi-2 > ol > li {
        margin-bottom: 10px;
    }

    img {
        margin: auto;
        border-radius: 10px; 
         
    }
}